*{
    margin: 0;
    padding: 0;
}
#nav{
    height: 10vh;
}
#app{
  max-height: 100vh;
  overflow: hidden;
}
#map-container{
  position: absolute;
  /* top: 0; */
  height: 90vh;
  width: 100vw;
}
#map {
    height: 90vh;
    width: 100%;
}
#headConsulta{
  height: 40px;
  background: #e6f8f9;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom: solid 1px #c1d3d4;
}
#bodyConsulta{
  max-height: 70vh;
  overflow-y: scroll;
}
#panel {
    height: 90vh;
    width: 100%;
}
#listado_capas_ign{
  max-height: 40vh;
  overflow-y: scroll;
}
.ol-tooltip {
  position: relative;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 4px;
  color: white;
  padding: 4px 8px;
  opacity: 0.7;
  white-space: nowrap;
  font-size: 12px;
}
.ol-tooltip-measure {
  opacity: 1;
  font-weight: bold;
}
.ol-tooltip-static {
  background-color: #36b5b0;
  color: black;
  border: 1px solid white;
}
.ol-tooltip-measure:before,
.ol-tooltip-static:before {
  border-top: 6px solid rgba(0, 0, 0, 0.5);
  border-right: 6px solid transparent;
  border-left: 6px solid transparent;
  content: "";
  position: absolute;
  bottom: -6px;
  margin-left: -7px;
  left: 50%;
}
.ol-tooltip-static:before {
  border-top-color: #36b5b0;
}

#wkt{
  position: absolute;
  top: 10px;
  left: 60px;
  max-height: 70px;
  max-width: 70vw;
  overflow-y: scroll;
  background: #e7e7e7;
  color: red;
  font-family: Arial, Helvetica, sans-serif;
  padding: 5px;
  border: 1px solid #bfc5c5;
  border-radius: 10px;
}

#response{
  position: absolute;
  top: 70px;
  left: 25vw;
  width: 50vw;
  z-index: 1;
}

.icon{
  width: 23px;
  margin-top: -3px;
  fill: white;
}

#menu-header{
  margin-top: -10px;
}

.check_capas,.controlRadio{
  cursor: pointer;
  text-align: justify;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 5px;
  font-size: large;
}
.check_capas:hover{
  color: red;
}
.controlRadio:hover{
  color: red;
}